/************************************************************global style************************************************************/
/*重置样式*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, textarea, hr, img, label, span,select,strong,b{ margin:0px; padding:0px;}
fieldset,img,abbr,acronym{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
q:before,q:after {content:'';}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
caption, th, td { text-align: left; font-weight: normal; }
a,img,button {border: none; text-decoration:none;}
a,button{text-decoration:none;}
a,img { border: none; outline: none; }
a{ color:#333; text-decoration:none; outline:none;}
ul,ol{ list-style:none;}
table{ word-break:break-all; word-wrap:break-word;}
body{ font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; font-size:12px; font-weight:normal; color:#333; width:100%; background:#fff; padding-bottom:100px;}
input{border: none;}
:-moz-placeholder { color: #ccc;font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
::-moz-placeholder { color: #ccc;font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #ccc;font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: #ccc;font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:before,.clearfix:after {display: table; line-height: 0;content: "";}
.clearfix:after{ clear: both;}
.fl{ float: left;}
.fr{ float: right;}
.hid{display: none;}
.ml20{ margin-left: 20px;}
.body-style{margin: 0 0; font-size:14px; overflow: hidden; background-image:url(../images/body_bg.jpg);background-color:#C9B3A5;background-size: cover;background-repeat: no-repeat;line-height:inherit}
.wrapper{width: 1200px; margin: 0 auto;}
/*header*/
.header{width:100%; height: 45px; background: rgba(0, 0, 0, 0.25); color: #fff;}
.header-brand{ line-height: 45px; font-size: 16px; margin-left: 30px; width: 200px; height: 45px;}
.header-search{ width: 270px; height:45px; box-sizing: border-box; }
.header-search .input-text{ height: 39px; width: 190px; padding: 0 5px; margin-top: 3px; background:none; color: #fff; }
.header-right{ width: 300px; height: 45px; line-height: 45px;}
.header-login li{ float: left;}
/*container*/
.content{width: 100%;}
.con-left{ width: 500px; height: 100%; }
.con-left-nav{width: 90px; height: 100%;background: rgba(0, 0, 0, 0.298039); box-sizing: border-box; padding-top: 20px;}
.con-left-nav li{width: 100%; text-align: center;}
.con-left-nav li a{ display: block; height: 36px; line-height: 36px; color: #dad9d8; font-size: 14px;border-bottom: 1px solid rgba(255,255,255,0.06);}
.con-left-nav li:hover a,.con-left-nav li.active a{ background-color: #4c4342;}
.con-left-bd{width: 410px;  background-color: #fff; }
.con-left-bd-main{/*width: 410px; *//*position:relative;*/ overflow:hidden;}
.con-left-bd-main-nav{ margin: 10px;}
.con-left-bd-main-nav>li>a{ padding: 7px 15px;}
.con-left-bd-main-wrap{width: 390px; margin: 0 auto;}
.con-left-bd-main-box li{ float: left; width: 180px; height: 180px; margin:0 0 10px 10px; box-shadow: 0 0 3px rgb(170, 170, 170); position: relative; overflow: hidden; }
.con-left-bd-main-box .img-box{ box-sizing: border-box; padding: 5px;}
.con-left-bd-main-box .img-box img{ vertical-align: middle; width: 100%;}
.con-left-bd-main-box .img-mask{position: absolute; left: 0; top: 0; width: 180px; height: 180px; background: rgba(0, 0, 0, 0.298039); }
.con-left-bd-main-box .img-mask-box{vertical-align:middle; display:table-cell; text-align:center;}
.con-left-bd-main-box .img-mask-box h3{  color: #fff; font-size: 14px;}
.con-left-bd-main-box .img-mask-box i{ display: block;  margin: 3px auto; color: #fff; font-size: 32px; cursor: pointer;}
.con-right{ width: 600px; margin-left: 20px; position: relative; height: 100%; background: rgba(255,255,255,0.3);}
.con-right .right-sidebar{ position: absolute; left:100%; top: 50%; margin-top: -68px; }
.con-right .right-sidebar > .btn-default{ border-radius: 0; background: rgba(58,51,50,0.4); color: #fff; margin-bottom: 1px;}
.con-right .right-sidebar > .btn-default:active{background: green !important;}
.right-sidebar > .btn:first-child:not(:last-child),.right-sidebar > .btn:last-child:not(:first-child){border-radius: 0;}
.right-sidebar >.btn-default:hover,
.right-sidebar >.btn-default:focus,
.right-sidebar >.btn-default.focus,
.right-sidebar >.btn-default:active,
.right-sidebar >.btn-default.active{color: #fff; background-color: #aa4200; }
.right-sidebar >.btn{width: 93%;}
/*footer*/
.footer{position: fixed; bottom: 0; width: 100%; height: 40px; line-height: 40px; background: rgba(0, 0, 0, 0.25); }
.copyright{color: #ccc;}